#question-container {
    display: flex;
    justify-content: space-between;
}

.column {
    flex-basis: 30%;
}

.question-item {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    break-inside: avoid;
}

.question-item h3 {
    cursor: pointer;
}

.answer {
    display: none;
}